<table border="1">
    <tr>
        <th>Campo</th>
        <th>Valor</th>
    </tr>
    <tr>
        <td>Nombre del Padre</td>
        <td>{{ familias.nombre_papa }}</td>
    </tr>
    <tr>
        <td>Apellido del Padre</td>
        <td>{{ familias.apellido_papa }}</td>
    </tr>
    <tr>
        <td>DNI del Padre</td>
        <td>{{ familias.dni_padre }}</td>
    </tr>
    <tr>
        <td>Domicilio del Padre</td>
        <td>{{ familias.domicilio_papa }}</td>
    </tr>
    <tr>
        <td>Celular del Padre</td>
        <td>{{ familias.celular_papa }}</td>
    </tr>
    <tr>
        <td>Teléfono del Padre</td>
        <td>{{ familias.telefono_papa }}</td>
    </tr>
    <tr>
        <td>Ocupación del Padre</td>
        <td>{{ familias.ocupacion_papa }}</td>
    </tr>
    <tr>
        <td>Email del Padre</td>
        <td>{{ familias.email_papa }}</td>
    </tr>
    <tr>
        <td>Nombre de la Madre</td>
        <td>{{ familias.nombre_mama }}</td>
    </tr>
    <tr>
        <td>Apellido de la Madre</td>
        <td>{{ familias.apellido_mama }}</td>
    </tr>
    <tr>
        <td>DNI de la Madre</td>
        <td>{{ familias.dni_mama }}</td>
    </tr>
    <tr>
        <td>Domicilio de la Madre</td>
        <td>{{ familias.domicilio_mama }}</td>
    </tr>
    <tr>
        <td>Celular de la Madre</td>
        <td>{{ familias.celular_mama }}</td>
    </tr>
    <tr>
        <td>Teléfono de la Madre</td>
        <td>{{ familias.telefono_mama }}</td>
    </tr>
    <tr>
        <td>Ocupación de la Madre</td>
        <td>{{ familias.ocupacion_mama }}</td>
    </tr>
    <tr>
        <td>Email de la Madre</td>
        <td>{{ familias.email_mama }}</td>
    </tr>
    <tr>
        <td>Fecha de Creación</td>
        <td>{{ familias.fecha_creacion }}</td>
    </tr>
    <tr>
        <td>Fecha de Modificación</td>
        <td>{{ familias.fecha_modificacion }}</td>
    </tr>
</table>