{% extends "basehome.html" %}
{% block content %}
    <h1>Matrículas de {{ alumno.Nombre }} {{ alumno.Apellido }}</h1>

    {% if matriculas %}
        <table class="table table-striped table-bordered text-center">
            <thead>
                <tr>
                    <th scope="col">Curso</th>
                    <th scope="col">Materia</th>
                    <th scope="col">Docente</th>
                    <th scope="col">Fecha de Creación</th>
                </tr>
            </thead>
            <tbody>
                {% for matricula in matriculas %}
                    <tr>
                        <td>{{ matricula.curso_matricula }}</td>
                        <td>
                            {% for curso_materia in matricula.curso_matricula.cursomateria_set.all %}
                                {{ curso_materia.materia }}
                            {% endfor %}
                        </td>
                        <td>
                            {% for curso_materia in matricula.curso_matricula.cursomateria_set.all %}
                                {{ curso_materia.docente }}
                            {% endfor %}
                        </td>
                        <td>{{ matricula.fecha_creacion_matricula }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Este alumno no tiene matrículas.</p>
    {% endif %}

{% endblock %}