{% extends "basehome.html" %}
{% block content %}
<div class="container mt-5">
    <div class="title-block"> 
        <h1 class="text-center" style="font-style: italic; background-color: #f0f0f0; padding: 10px; border-radius: 5px;">Datos del Alumno y Familia</h1> 
    </div> 
    
    <div class="row"> 
        <div class="col-md-12">
            <h2 class="text-center" style="background-color: #f0f0f0; padding: 10px; border-radius: 5px;">Datos del Alumno</h2>
            <div class="table-container">
                <table class="table table-striped table-bordered text-center" style="width: 100%;">
                    <thead>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Nombre</th>
                            <td>{{ alumno.Nombre }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Apellido</th>
                            <td>{{ alumno.Apellido }}</td>
                        </tr>
                        <tr>
                            <th scope="row">DNI</th>
                            <td>{{ alumno.DNI }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Correo Electrónico (Particular)</th>
                            <td>{{ alumno.Correo_Electronico_Particular }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Correo Electrónico (Institucional)</th>
                            <td>{{ alumno.Correo_Electronico_Institucional }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Dirección</th>
                            <td>{{ alumno.Direccion }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Localidad</th>
                            <td>{{ alumno.Localidad }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Nacionalidad</th>
                            <td>{{ alumno.Nacionalidad }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Colegio</th>
                            <td>{{ alumno.Colegio }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Sexo</th>
                            <td>{{ alumno.Sexo }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Fecha de Nacimiento</th>
                            <td>{{ alumno.Fecha_de_Nacimiento }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Lugar de Nacimiento</th>
                            <td>{{ alumno.Lugar_de_nacimiento }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Casa</th>
                            <td>{{ alumno.Casas }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Estado de Dispositivos</th>
                            <td>{{ alumno.estado_dispositivos }}</td>
                        </tr>
                    
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row mt-4"> 
        <div class="col-md-6">
            <h2 class="text-center" style="background-color: #f0f0f0; padding: 10px; border-radius: 5px;">Datos del Padre</h2>
            <div class="table-container">
                <table class="table table-striped table-bordered text-center" style="width: 100%;">
                    <thead>

                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Nombre</th>
                            <td>{{ familia.nombre_papa }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Apellido</th>
                            <td>{{ familia.apellido_papa }}</td>
                        </tr>
                        <tr>
                            <th scope="row">DNI</th>
                            <td>{{ familia.dni_padre }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Domicilio</th>
                            <td>{{ familia.domicilio_papa }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Celular</th>
                            <td>{{ familia.celular_papa }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Teléfono</th>
                            <td>{{ familia.telefono_papa }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Ocupación</th>
                            <td>{{ familia.ocupacion_papa }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Email</th>
                            <td>{{ familia.email_papa }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <h2 class="text-center" style="background-color: #f0f0f0; padding: 10px; border-radius: 5px;">Datos de la Madre</h2>
            <div class="table-container">
                <table class="table table-striped table-bordered text-center" style="width: 100%;">

                    <tbody>
                        <tr>
                            <th scope="row">Nombre</th>
                            <td>{{ familia.nombre_mama }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Apellido</th>
                            <td>{{ familia.apellido_mama }}</td>
                        </tr>
                        <tr>
                            <th scope="row">DNI</th>
                            <td>{{ familia.dni_mama }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Domicilio</th>
                            <td>{{ familia.domicilio_mama }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Celular</th>
                            <td>{{ familia.celular_mama }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Teléfono</th>
                            <td>{{ familia.telefono_mama }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Ocupación</th>
                            <td>{{ familia.ocupacion_mama }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Email</th>
                            <td>{{ familia.email_mama }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <a href="{% url 'crear_matricula' %}" class="btn btn-primary mt-3">Matricular Alumno</a>
</div>
{% endblock %}