{% extends "baseconfiguracion.html" %}
{% block content %}
<form action="{% url 'registro'%}" method="post">
    {% csrf_token %} 
    <div class="container mt-5">
        <div class="container" style="background-color: #f8f8f8; padding: 10px; border-radius: 10px; margin-top: 20px;"> 
            <h1 class="text-center" style="font-style: italic;">Registro</h1> 
        </div> 
        <div class="table-container">
            <table class="table table-striped table-bordered text-center" style="width: 100%;">
 
                <tbody>
                    <tr>
                        <td><label for="username" class="col-sm-3 col-form-label">Usuario</label></td>
                        <td><input type="text" placeholder="Usuario para el sistema" id="username" name="username" required></td>
                    </tr>
                    <tr>
                        <td><label for="email" class="col-sm-3 col-form-label">Email</label></td>
                        <td><input type="email" placeholder="Ingrese su correo" id="email" name="email" required></td>
                    </tr>
                    <tr>
                        <td><label for="password" class="col-sm-3 col-form-label">Password</label></td>
                        <td><input type="password" placeholder="Ingrese su contraseña" id="password1" name="password1" required></td>
                    </tr>
                    <tr>
                        <td><label for="password" class="col-sm-3 col-form-label">Rol</label></td>
                        <td>
                            <select id="rol" name="rol" required>
                                <option value="">Seleccionar un Rol</option>
                                <option value="administrador">Administrador</option>
                                <option value="colaborador">Colaborador</option>
                                <option value="director">Director</option>
                                <option value="contador">Contador</option>
                                <option value="secretaria">Secretaria</option>
                                <option value="docente">Docentes</option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="form-group">  
                <label for="docente_id">Docente:</label>  
                <select class="form-control" id="docente_id" name="docente_id" required>  
                    {% for docente in docentes %}  
                        <option value="{{ docente.id_docentes }}">{{ docente.nombre }} {{ docente.apellido }}</option>  
                    {% endfor %}  
                </select>  
            </div> 
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-outline-success btn-neon">Registrar en el sistema</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}